@font-face {
   font-family: 'Muli-Black';
   font-display: swap;
   src: url('file:///C:/Users/jerome/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-02-19_202123/fonts/Muli-Black/font.ttf');
}
