@font-face {
   font-family: 'Muli-Medium';
   font-display: swap;
   src: url('file:///C:/Users/jerome/Downloads/SDILille.github.io-main%20(1)/SDILille.github.io-main/fonts/Muli-Medium/font.ttf');
}
